.tags-description {
  padding-bottom: 10px;
}

.tags-box {
  padding: 10px;
  width: 60%;
  box-sizing: border-box;
  border: 1px solid grey;

  .tag {
    margin: 2px;
  }
}

.tag-creator {
  margin-top: 40px;
  width: 180px;

  &-label {
    margin-bottom: 10px;
  }
}

.color-picker {
  padding-top: 14px;
  margin-left: 14px;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}
