.meals-page-panes {
  position: static !important; // need to override standard pane styling with this

  // Left-hand pane
  .meals-pane {
    .meals-control-container {
      width: 80%;
      margin: 0 auto;
      margin-top: 20px;

      .meals-control {
        width: 30%;
      }
    }

    .meals-list-container {
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .meal-item {
        flex: 0 0 49%;
        margin-bottom: 2%;
      }
    }
  }

  // right-hand pane
  .details-pane {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
