.planner-controls {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
}

.days-container {
  width: 95%;
  height: 75%;
  margin: 0 auto;
  overflow-y: auto;

  .days-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
