.navbar-container {
  width: 100vw;
  height: 80px;
  background-color: green;

  display: flex;
  flex-direction: row;

  .navbar-logo {
    background-color: red;
    width: 100px;
  }

  .navbar-link {
    margin: auto auto;
  }
}
