.navbar-container {
  width: 100vw;
  height: 80px;
  //background-color: #0a542d;
  background-color: rgb(21, 105, 60);
  display: flex;
  flex-direction: row;

  .navbar-logo {
    background-color: red;
    width: 100px;
  }

  .navbar-link {
    margin: auto auto;
  }
}
