.list-controls {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-container {
  width: 60%;
  height: 75%;
  margin: 0 auto;
  overflow-y: auto;

  .quantity-input {
    width: 80px;
  }

  .list {
    display: flex;
    flex-direction: column;

    .list-item {
      display: flex;
      flex-direction: row;

      label {
        margin: 5px 30px 5px 0px;
      }

      button {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .list-container {
    width: 95%;
  }
}
